.userinfo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .user {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: fill;
      background-color: rgba(17, 25, 40, 0.5);
    }
  }
  .icons {
    display: flex;
    gap: 20px;
    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
